<!DOCTYPE html>
<html lang="en" ng-app="TasksManager">
  <head>
    <meta charset="utf-8">
    <title>Guillaume Tasks Manager</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDo.js"></script>
  </head>

  <body ng-controller="guillaumeToDo as tasksCtrl">
    <div id='toDoLogo_still_to_come'></div><br>

    <br><br>
    <section id="buttons_container">
      <button ng-click="tasksCtrl.allTasks()" class="topButton" id='allButton'>All</button>
      <button ng-click="tasksCtrl.activeTasks()" class="topButton" id='activeButton'>Active</button>
      <button ng-click="tasksCtrl.completedTasks()" class="topButton" id='completedButton'>Completed</button>
      <button ng-click="tasksCtrl.clearCompleted()" class="topButton" id='clearCompletedButton'>Clear Completed</button>
      <button ng-click="tasksCtrl.clearAll()" class="topButton" id='clearAllButton'>Clear All</button>
    </section>
    
    <br><br>
    <div>
      <form id="add_a_task_container">
        Add a new task to the list:<br>
        <input type="text" ng-model="tasksCtrl.newTask"><br>
        <input type="submit" value="Add Task" ng-click="tasksCtrl.addTask()" id="newTaskButton">
      </form>
    </div>

    <br><br>
    <table>
      <tr>
        <td id="tasksCounter">
          Tasks: {{tasksCtrl.tasksCount()}}
        </td>
        <td id="activeCounter">
          Active Tasks: {{tasksCtrl.activeCount()}}
        </td>
        <td id="completeCounter">
          Completed Tasks: {{tasksCtrl.completeCount()}}
        </td>
      </tr>
    </table>

    <br><br>
    <div ng-show="tasksCtrl.showAllList" id='allContainer'>
      ALL TASKS:
      <ul class="tasksContainer" ng-repeat="task in tasksCtrl.tasklist">
        <li>
          <input type="checkbox" class="taskCheckBox" ng-model="task.status" ng-change="tasksCtrl.doTask()" id={{'ID'+$index}}>{{task.name}}
        </li>
      </ul>
    </div>

    <div ng-show="tasksCtrl.showActiveList" id='activeContainer'>
      ACTIVE TASKS:
      <ul class="tasksContainer" ng-repeat="eachTask in tasksCtrl.array">
        <li>
          {{eachTask}}
        </li>
      </ul>
    </div>

    <div ng-show="tasksCtrl.showCompletedList" id='completedContainer'>
      COMPLETED TASKS:
      <ul class="tasksContainer" ng-repeat="eachTask in tasksCtrl.array">
        <li>
          {{eachTask}}
        </li>
      </ul>
    </div>

  </body>
</html>
