body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  background: url(images/todo_background.jpg) no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black;   
}

html, body {
  height: 100%;
}

.topButton {
  background: url(images/wood_button_background.png);
  position: relative;
  border: none;
  display: inline-block;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
              inset 0px -5px 0px 0px rgba(0,0,0,0.3),
              inset 0px 2px 0px 0px rgba(255,255,255,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin: 36px;
  font-weight:bold;
  padding:14px 50px;
}
.topButton:active {
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
              inset 0px -2px 0px 0px rgba(0,0,0,0.3),
              inset 0px 2px 0px 0px rgba(255,255,255,0.5);
  top: 3px;
}

.topButton:active div {
  padding-bottom: 9px;
}

#newTaskContainer {
  background-image: url(images/dark_wood_background.jpg);
  background-position: center;
  font-size: 14px;
  color: #E4CAB0;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
  letter-spacing: 3px;
  text-align:center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
  padding: 5px 10px;
  line-height: 200%;
  border: 5px solid #C08447;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}